@model webTiengAnh.Models.DTO.BaiThiDTO

@{
    ViewBag.Title = "Bắt đầu làm bài";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="x_panel">
    <div class="x_title">
        <h2>Đề bài <small>Làm bài thi</small></h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <script>
            function startTimer(duration, display) {
                var timer = duration, minutes, seconds;
                setInterval(function () {
                    minutes = parseInt(timer / 60, 10)
                    seconds = parseInt(timer % 60, 10);

                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;

                    display.textContent = minutes + ":" + seconds;

                    if (--timer < 0) {
                        timer = duration;
                    }
                }, 1000);
            }

            window.onload = function () {
                var fiveMinutes = 60 * @Model.Time,
                    display = document.querySelector('#time');
                startTimer(fiveMinutes, display);
            };
            setTimeout(function () {

                alert("Đã hết giờ, Vui lòng nộp bài!");
                $('#tanhidden').addClass('hide');
            }, (60000 * @Model.Time))
    </script>
    <style>
        .navbar-fixed-top {
            padding-right: 80px;
            top: 130px;
        }

        code {
            padding: 50px 40px 45px 40px;
            font-weight: bold;
            font-size: 25px;
            background: url(/Content/images/timeclock.png) no-repeat;
        }
    </style>
    <div class="x_content">
        @using (Html.BeginForm())
        {
            <div id="tanhidden">
                <p style="text-align:right" class="navbar-fixed-top"><code id="time"></code></p>
                @for (int i = 0; i < Model.ListQuiz.Count; i++)
                {
                    <fieldset>
                        <legend>
                            <label>@i. </label>
                            @Model.ListQuiz[i].CauHoi.CauHoi1
                            @if (Model.ListQuiz[i].CauHoi.Picture != null)
                            {
                                <p><img src="data:image/gif;base64,@Convert.ToBase64String(Model.ListQuiz[i].CauHoi.Picture)" class="img-thumbnail" /></p>
                            }
                            else
                            {

                            }
                        </legend>
                        @Html.HiddenFor(model => model.ListQuiz[i].MaCH)
                        <div class="radio">
                            @Html.RadioButtonFor(model => model.ListQuiz[i].GhiChu, "A", new { @class = "flat" })
                            @Model.ListQuiz[i].CauHoi.A
                        </div>
                        <div class="radio">
                            @Html.RadioButtonFor(model => model.ListQuiz[i].GhiChu, "B", new { @class = "flat" })
                            @Model.ListQuiz[i].CauHoi.B
                        </div>
                        <div class="radio">
                            @Html.RadioButtonFor(model => model.ListQuiz[i].GhiChu, "C", new { @class = "flat" })
                            @Model.ListQuiz[i].CauHoi.C
                        </div>
                        <div class="radio">
                            @Html.RadioButtonFor(model => model.ListQuiz[i].GhiChu, "D", new { @class = "flat" })
                            @Model.ListQuiz[i].CauHoi.D
                        </div>
                    </fieldset>
                }
            </div>
            <hr />
                <button class="btn btn-success"><i class="fa fa-check"></i> Nộp bài</button>
        }
    </div>
</div>


